* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  height: 95vh;
  padding: 0px;
}

#loginBtn,
#registerBtn {
  background-color: #5cb85c;
  color: white;
  font-weight: 500;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder {
  color: lightgray;
}

body,
html {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#button {
  background-color: green;
  color: aliceblue;
}

.formtitle {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 30px;
}

.form {
  padding: 20px;
}

.header {
  font-weight: 500;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  font-size: 18px;

  a {
    color: #2c3693;
    position: relative;
    display: inline-flex;
    align-items: baseline;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
    text-decoration: none;
  }
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  /* width: 100%; */
  padding: 8px;
  box-sizing: border-box;
}

.form-group button {
  padding: 10px 15px;
  margin-right: 10px;
}